
#CHIP_ENABLE, OUTPUT_ENABLE, WRITE_ENABLE
NET NEX   LOC = B16; #S1
NET NOE   LOC = A16; #S2
NET NWE   LOC = C15; #S3

#CLK 25 MHz
NET CLK   LOC = V10; 

#DATA <PMOD>
NET DATA<0> LOC = N17;  
NET DATA<1> LOC = P17;
NET DATA<2> LOC = L15;
NET DATA<3> LOC = K13;
NET DATA<4> LOC = F18;
NET DATA<5> LOC = F17;
NET DATA<6> LOC = F16;
NET DATA<7> LOC = G18;
NET DATA<8> LOC = F15;
NET DATA<9> LOC = H18;
NET DATA<10> LOC = H17;
NET DATA<11> LOC = J16;
NET DATA<12> LOC = J18;
NET DATA<13> LOC = L18;
NET DATA<14> LOC = K17;
NET DATA<15> LOC = N18;

#Reset
NET RESET LOC = C14; #s8

#RDY 
NET RDY LOC = F13;	#LED0


#----PMOD2----
NET OUT_CLK_SYN LOC = B8;  #1
NET OUT_CLK_PE LOC = C7;  #7


