
#CHIP_ENABLE, OUTPUT_ENABLE, WRITE_ENABLE
NET NEX   LOC = B16; #S1
NET NOE   LOC = A16; #S2
NET NWE   LOC = C15; #S3

#CLK 25 MHz
NET CLK   LOC = V10; 

#Reset
NET RESET LOC = C14; #s8

#Ziffernauswahl
NET ANODE<0> LOC = R10;
NET ANODE<1> LOC = T10;
NET ANODE<2> LOC = T9;
NET ANODE<3> LOC = V9;

#Segmentauswahl
NET CATHODE<0> LOC = T14;
NET CATHODE<1> LOC = V14;
NET CATHODE<2> LOC = U13;
NET CATHODE<3> LOC = V13;
NET CATHODE<4> LOC = U11;
NET CATHODE<5> LOC = V11;
NET CATHODE<6> LOC = R11;
NET CATHODE<7> LOC = T11;

NET TEST1 LOC = F13;
NET TEST2 LOC = E13;
NET TEST3 LOC = B12;

#D: inout std_ulogic_vector(15 downto 0);